body {
  background-color: grey;
  margin: 0;
  display: grid;
  height: 100vh;
  align-content: center;
  justify-content: center;
  grid-template: auto auto auto;
  font-family: 'Eater', cursive;
  
}

h1 {
    color: red;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#plot {
    display: grid;
    grid-template-rows: auto 48px;
}

#hole {
        display: block;
        background-image: url('../img/hole.png');
        background-repeat:no-repeat;
        width: 100%;
        content: ''; 
        background-size: contain;  
    height: 60px;
    top: -25px;
    position: relative;
}

#troll {
    background-image: url('../img/troll2.png');
    background-size: 100%;
    background-repeat: center no-repeat;
  transform: translateY(-120%);
  transition: transform 0.3s;
  transition-delay: 0.5s;

   
}

.status {
   display:grid;
   grid-template-columns: auto auto auto;
    color: white;
    background-color: purple;
    padding: 10px;
   margin: auto;
    border: 3px solid black;

}

.current-name, .current-score, .current-timer {
 color: white;
 background-color: green;
 padding: 10px;
 margin: auto;
 border: 3px solid black;
}

.restart {
    font-size: 30px;
    background-color: violet;
    border: 1px solid black;
}

